body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

#gameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#gameBoard {
    z-index: 0;
    border: solid black 1px;
}

#startScreen, #gameOverScreen {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #282c75ed;
    border: solid 1px black;
    border-color: #000;
    border-radius: 5%;
    color: #fff;
    z-index: 1;
}

#highScores {
    align-self: start;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

button {
    display: inline-block;
    height: 25px;
    min-width: 90px;
    -webkit-touch-callout: none;
    margin: 15px;
    background-color: #fff;
    border-style: none;
    border-radius: 5%;
}

button:hover {
    background-color: #3e9485;
    color: #fff;
    border: solid 1px #fff;
}


/* #backgroundCanvas {
    position: absolute;
    z-index: -1;
} */
