/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

html {
  -webkit-text-size-adjust: none;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #001437;
  font-size: 13px;
}

#game-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  text-align: center;
}

/* #instructions-container, #score-award-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
} */

.menu-screen {
  color: #fff;
  font-family: "Orbitron", sans-serif;
  width: 100%;
  letter-spacing: 0.1rem;
  z-index: 1;
  display: block;
}

#canvas {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: -1;
}

.menu-content-container {
  padding: 1rem;
  -webkit-animation: fade-in ease-out 0.5s 1;
  animation: fade-in ease-out 0.5s 1;
}

/* https://www.w3schools.com/howto/howto_css_glowing_text.asp */

h1 {
  color: #fff;
  margin: 0;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 0.1em #fff, 0 0 0.2em #e60073, 0 0 0.3em #e60073,
      0 0 0.4rem #e60073, 0 0 0.5rem #e60073, 0 0 0.6rem #e60073,
      0 0 0.7rem #e60073;
  }

  to {
    text-shadow: 0 0 0.2em #fff, 0 0 0.3em #ff4da6, 0 0 0.4em #ff4da6,
      0 0 0.5rem #ff4da6, 0 0 0.6rem #ff4da6, 0 0 0.7rem #ff4da6,
      0 0 0.8rem #ff4da6;
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 0.1em #fff, 0 0 0.2em #e60073, 0 0 0.3em #e60073,
      0 0 0.4rem #e60073, 0 0 0.5rem #e60073, 0 0 0.6rem #e60073,
      0 0 0.7rem #e60073;
  }

  to {
    text-shadow: 0 0 0.2em #fff, 0 0 0.3em #ff4da6, 0 0 0.4em #ff4da6,
      0 0 0.5rem #ff4da6, 0 0 0.6rem #ff4da6, 0 0 0.7rem #ff4da6,
      0 0 0.8rem #ff4da6;
  }
}

.desktop-controls-text {
  color: #ffb329;
}

.mobile-controls-text {
  color: #36da34;
}

.special-menu-text {
  color: #ff31e6;
  text-shadow: 0 0 1rem;
}

/* For possible change to layout on landscape orientation? */

/* #score-award-container {
    display: flex;
} */

#session-scores-container {
  min-width: 20%;
  /* border-left: solid; */
}

/* #score-award-text {
    padding: 0 1rem;
    text-align: left;
    align-self: center;
} */

#session-scores-container ol {
  list-style-type: none;
  -webkit-padding-start: inherit;
  padding-inline-start: inherit;
}

.hidden {
  display: none;
}

.paused-effect {
  -webkit-filter: opacity(0.3) blur(0.1rem);
  filter: opacity(0.3) blur(0.1rem);
}

.blinking {
  -webkit-animation: blink linear 1.5s 2s forwards infinite;
  animation: blink linear 1.5s 2s forwards infinite;
}

@-webkit-keyframes blink {
  0% {
    -webkit-filter: opacity(1);
    filter: opacity(1);
  }

  25% {
    -webkit-filter: opacity(0.5);
    filter: opacity(0.5);
  }

  50% {
    -webkit-filter: opacity(0);
    filter: opacity(0);
  }

  75% {
    -webkit-filter: opacity(0.5);
    filter: opacity(0.5);
  }

  100% {
    -webkit-filter: opacity(1);
    filter: opacity(1);
  }
}

@keyframes blink {
  0% {
    -webkit-filter: opacity(1);
    filter: opacity(1);
  }

  25% {
    -webkit-filter: opacity(0.5);
    filter: opacity(0.5);
  }

  50% {
    -webkit-filter: opacity(0);
    filter: opacity(0);
  }

  75% {
    -webkit-filter: opacity(0.5);
    filter: opacity(0.5);
  }

  100% {
    -webkit-filter: opacity(1);
    filter: opacity(1);
  }
}

@-webkit-keyframes fade-in {
  0% {
    -webkit-filter: opacity(0);
    filter: opacity(0);
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }

  100% {
    -webkit-filter: opacity(1);
    filter: opacity(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes fade-in {
  0% {
    -webkit-filter: opacity(0);
    filter: opacity(0);
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }

  100% {
    -webkit-filter: opacity(1);
    filter: opacity(1);
  }
}

#menu-buttons-container {
    padding: 0 0.5rem;
}

#menu-buttons-container button {
  min-width: 6rem;
  -webkit-touch-callout: none;
  margin: 0.65rem;
  background-color: #001437;
  border: solid 1px #fff;
  border-radius: 5%;
  color: #fff;
  font-size: 1.1rem;
  font-family: "Orbitron", sans-serif;
  padding: 0.5rem;
  z-index: 1;
}

#menu-buttons-container button:hover {
  background-color: #fff;
  color: #001437;
  border: solid 1px #fff;
}

#options-buttons-container {
  display: -ms-inline-grid;
  display: inline-grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem;
}

#checkbox-container {
  border-bottom: solid;
}

#checkbox-container, #radio-container {
    padding: 1rem;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.5rem
}

.checkbox > span {
  color: #fff;
}

.checkbox > input {
  height: 25px;
  width: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 2px solid #fff;
  border-radius: 5%;
  outline: none;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background-color: #001437;
  cursor: default;
  margin-right: 1rem;
  margin-left: 10px;
}

.checkbox > input:checked {
  border: 2px solid #fff;
  background-color: #fff;
}

.checkbox > input:checked + span::before {
  content: "";
  display: block;
  text-align: center;
  color: #41b883;
  position: absolute;
}

.checkbox > input:active {
  border: 2px solid #34495e;
}

.checkbox > input:disabled {
  border: dotted #fff;
  cursor: default;
}

/* Reverse the query below to be by default? Mob 1st pov should be portrait and include the following for SCORES too:

#score-award-container {
    display: flex;
}

#session-scores-container {
  min-width: 20%;
    border-left: solid;
}

#score-award-text {
    padding: 0 1rem;
    text-align: left;
    align-self: center;
}

*/

@media (orientation: landscape) and (min-width: 420px) {
  #checkbox-container {
    border: none;
  }
  #options-buttons-container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  #radio-container {
    border-left: solid;
  }
}

@media (orientation: portrait) {
  #canvas {
    width: 100%;
    height: auto;
  }
}
@media (orientation: portrait) and (min-height: 568px) {
  h1 {
    font-size: 2rem;
  }
  .menu-content-container {
    font-size: 1.1rem;
  }
}

@media (orientation: landscape) {
  #canvas {
    width: auto;
    height: 100%;
  }
}

/* @media (min-width: 667px) and (min-height: 375px) {
  .menu-screen {
    font-size: 1rem;
  }
} */

@media (min-width: 768px) and (min-height: 375px) {
  .menu-screen {
    font-size: 1rem;
  }
  .menu-content-container {
    padding: 2rem;
  }
  #menu-buttons-container button {
    min-width: 7rem;
    margin: 0 1rem;
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) and (min-height: 568px) {
  .menu-screen {
    font-size: 1.5rem;
  }
  .menu-content-container {
    padding: 3rem;
  }
  #menu-buttons-container button {
    padding: 0.5rem;
    min-width: 10rem;
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) and (min-height: 800px) {
  .menu-screen {
    font-size: 2.25rem;
  }
  .menu-content-container {
    padding: 4rem;
  }
}