body {
  margin: 0;
  padding: 0;
}

#canvasContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#gameBoard {
  border-style: solid;
  border-color: black;
  z-index: 0;
}

#backgroundCanvas {
    position: absolute;
    z-index: -1;
}